




#subtitlesDiv{
  height:100%;
  border-style: none;
  border-color:white;
}


















#div1 {
	padding:0px 0px 0px 0px;
	margin:0 0 300px 60px;
	width:40%;
	height:300px;
	position: absolute;
	float:right;
  z-index: 10; 
}

#HobbiesH1 {
	color:salmon;
	cursor: pointer;
	font-size:300%;
	text-shadow:2px 2px black;
	font-family:courier;
	margin-left: 60px;

}

#parag1{

	color:#FFFFFF;
	font-size:175%;
	font-style: bold;


}












#div2{

	padding:0px 0px 0px 0px;
	float: right;
	width:40%;
	height:350px;
	margin: 150px 60px 0 0;

}


#EducationH2{
	cursor: pointer;
	color:skyblue;
	font-size:300%;
	font-family:courier;
	text-shadow:2px 2px black;
	margin-right: 10px;
	text-align:center;

}




#parag2{

	text-align:center;
	color:#FFFFFF;
	font-size:175%;
	font-style: bold;
}















#div3{
padding:0px 0px 0px 0px;
	float: left;
	width:40%;
	height:350px;
	margin: 350px  0 0 60px;

}

#CodeH1{

	color:salmon;
	cursor: pointer;
	font-size:300%;
	font-family:courier;
	text-shadow:2px 2px black;
	margin-left: 60px;

}


#parag3{

	color:#FFFFFF;
	font-size:175%;
	text-align:middle;
	font-style: bold;

}






#div4{
padding:0px 0px 0px 0px;
	float: right;
	width:40%;
	height:480px;
	margin: 70px 60px 0 0;

}

#ContactMe{

	color:salmon;
	cursor: pointer;
	font-size:300%;
	font-family:courier;
	text-shadow:2px 2px black;
	margin-left: 60px;
	text-align: center;
	color:skyblue;


}


#parag4{

	color:#FFFFFF;
	font-size:175%;
	margin-left:80px;
	text-align:middle;
	font-style: bold;

}
