
@import "mainSubtitles.css";



body {
    background-image: url("background4.jpg");
    background-color: #1D222D;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}


#mainHeader{

display:inline-block;
text-align:center;
color: azure;
font-family : papyrus;
font-size: 110px;
text-shadow: 2px 2px black;
border-style: none;
border-color:red;
display:block;
padding: 25px 0px 25px 0px ;
margin: 300px 0px 200px 0px; text-shadow:4px 4px black;

}


#firstHalfOfPage{
  height:50%;
  border-style: none;
  border-color:red;

}






#sideBarDiv{
  height:165px;
  width:210px;
  margin:100px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: none;
  border-color:red;
  position:fixed;
}

#SBIcon{
  cursor:pointer; position:fixed; display:block; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; background-color:#d9d9d9;
    opacity:.5;
}

#links{
  display:block; margin: 0px 0px 0px 75px; padding: 0px 0px 0px 0px; z-index:5;
}



#downArrowDiv{
  border-style: none;
  border-color:red;
  height:100px;
  margin-bottom: 400px;
}


#downArrow{
  border-style: none;
  border-color:red;
  margin-left: 10%;
  margin-top:5%;
}




ul {
    list-style-type: none;
    width:130px;
    display: block;
    text-align:center;
    float:right;
    position:fixed;
    background-color:#d9d9d9;
    margin-left: 70px;
    padding-left:10px;
    text-decoration: none;
    border-style: solid;
    border-color:black;
    opacity:.8;


}

li a {
	text-decoration: none;
	text-align:center;
    display: block;
    font-size:20px;
    positon:fixed;

}



a{

display: block;
padding: 15px;
width: 100px;

}

img {
    float: left;
    margin: 0 0 10px 10px;
}





li a{

display: block;
color: black;


}
